.product-showcase {
    height: 100vh;
    width: 100%;
    position: relative;
}

.carousel-track {
    display: flex;
    position: absolute;
    top: 50%;
    left: 0;
    border-color: white;
    justify-content: center;
    align-items: center;
    height: 80px;
    gap: 16px;
    width: 200%;
    max-height: fit-content;

    animation: slide 20s linear infinite;
    &:hover {
        animation-play-state: paused;
    }
}

@keyframes slide {
    0% {
        left: 0;
    }
    100% {
        left: -100%;
    }
}
