.Header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 5px;
    margin: 0; /* Avoid margin collapsing issues */
    display: flex;
    justify-content: space-between;
    border-radius: 0;
    align-items: center;
    min-width: 100vw;
    background-color: var(--header-color);
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#nav-icons-div {
    float: right;
    margin-right: 25px;
}
#nav-icons-div i {
    margin-left: 10px;
}
.Header h1,
.Header span {
    display: inline-block;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.Header span {
    font-size: 1.3em;
    color: var(--text-color);
}

.header-option {
    margin-right: 5vw;
    float: left;
}
